.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    .firstLink {
        width: 70%;
    }
}