@import '@/public/styles/variables';

.header {
    width: 100%;
    position: fixed;
    background-color: $white;
    top: 0;
    z-index: 2;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    justify-content: flex-end;
}