.defaultHeight {
    width: 100%;
    display: flex;
}

.home {
    // background-color: #444;
    min-height: 100vh;
    @extend .defaultHeight;
}

.contact {
    // background-color: #4ff;
    min-height: 500px;
    @extend .defaultHeight;
}
