@tailwind base;
@tailwind components;
@tailwind utilities;

.introduction {
  position: fixed;
  color: #000;
  background: rgba(255,255,255, 0.8);
  padding: 20px;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);;
}
