.toggleWrapper {
    width: 70px;
    height:30px;
    position: absolute;
    border: solid 1px #fff;
    left: 20px;
    top: 20px;
    z-index: 10;
    border-radius: 15px;
}

.nightDesign {
    border-color:black;
    background-color: black;
}

.dayDesign {
    border-color: #f0d94a;
    background-color: #fff;
}

.tinySun {
    position: relative;
    top: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: #e5b740;
}

.sunShine {
    position: absolute;
    height: 6px;
    width: 1px;
    transform: rotate(-59deg);
    background: #e5b740;
    left: 4px;
    top: 7px;

    &:before,
    &:after {
        content: "";
        height: 6px;
        width: 1px;
        left: 4px;
        background: #e5b740;
        position: absolute;
    }

    &:before {
        transform: rotate(-79deg);
    }
}